*.o
*.ko
*.ko.unsigned
*.mod
*.mod.c
*.mod.o
*.lds
*.symvers
*.order
.*.o.cmd
.*.ko.cmd
.*.mod.cmd
.tmp_versions/
Module.symvers
modules.order
compile_commands.json
.cache/
.thinlto-cache/
libs/
obj/
